@import "bourbon/bourbon";
@import "neat/neat";

$light-green: #8CC34A;
$reg-green: #20BF55;
$blue-grey: #323F4C;
$white: #FBFBFF;
$dark-blue-grey: #232f3b;
$light-blue: #01BAEF;
$darker-blue: #0B4F6C;
$grey: #a29c9c;

// Index Elements, Navbar and Footer
body {
  padding: 0;
  margin: 0;
  background-color: $dark-blue-grey;
  color: $white;
}
h1 {
  font-family: 'Ubuntu', sans-serif;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
}
p {
  font-family: 'Ubuntu', sans-serif;
}
header {
  background-image: -webkit-linear-gradient(#B4EC51 0%, #429321 100%);
}
#toplist {
  font-family: 'Ubuntu', sans-serif;
  color: $white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
#logo {
  display: inline;
  float: left;
  font-size: 70px;
  color: $white;
  margin-left: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  a {
    padding: 2px;
    margin: 0px;
    transition: all ease 0.6s;
  }
}
#logo a:hover {
  color: $dark-blue-grey;
}
.navbar {
  float: left;
  font-size: 20px;
}
.toplink {
  display: block;
  color: $white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}
form {
  margin-top: 2%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: $white;
  margin-right: 40px;
  float: right;
  margin-top: 25px;
}
input {
  background: $blue-grey;
  border: 2px solid $white;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  padding: 4px;
  padding-left: 10px;
  color: $white;
  width: 280px;
}
#searchButton {
  color: $white;
  background-color: $blue-grey;
  border: 2px solid $white;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  margin-left: 5px;
  padding: 7px;
  transition: all ease 0.6s;
}
#searchButton:hover {
  cursor: pointer;
  background-color: $white;
  color: $blue-grey;
}
#guardians {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border: 0px;
  border-bottom: 2px solid $grey;
  border-top: 2px solid $grey;
}
.image {
  position: relative;
  width: 100%;
}
#popcorn {
  position: absolute;
  top: 235px;
  width: 100%;
  font-size: 44px;
}
#fog {
  padding: 5px 313px 2px;
  opacity: 0.70;
  background: #000000;
  box-shadow: 0 0 7px 7px #000000;
}
footer {
  background-color: $blue-grey;
  padding: 20px;
  p {
    margin: 0px 10px;
    display: inline;
    font-size: 13px;
    a {
      text-decoration: none;
      color: $light-green;
    }
  }
}
#octocat {
  width: 26px;
  height: auto;
  margin-bottom: -6px;
}
#octocat:hover {
  opacity: .5;
}

//Main View
.titles {
  margin-left: 40px;
  font-family: 'Ubuntu', sans-serif;
  color: $white;
  margin-bottom: 0px;
  margin-top: 0px;
}
.mainUL {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.mainLI {
  float: left;
  display: inline-block;
  height: auto;
  margin: 15px;
  img {
    width: 200px;
    height: 298px;
    border-radius: 5px;
    border: 2px solid $white;
    transition: all ease 0.6s;
  }
  img:hover {
    border: 2px solid $light-blue;
    cursor: pointer;
  }
}
#bottomMain{
  @include outer-container;
}

//Film View
#filmBig {
  @include outer-container;
}
#filmLeft{
  @include span-columns(4);
}
#filmRight {
  @include span-columns(7);
  margin-left: 20px;
}
#bigPoster {
  width: 340px;
  height: auto;
  border: 2px solid $white;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 60px;
}
#filmTitle {
  margin-bottom: 0px;
  font-size: 40px;
}
#filmYear {
  margin-top: 5px;
  margin-bottom: 0px;
}
#directedBy {
  margin: 5px 0px 5px;
}
#directorUL {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  li {
    font-family: 'Ubuntu', sans-serif;
    color: $light-blue;
  }
  p {
    margin: 5px 0px 5px;
    font-size: 25px;
    transition: ease all 0.6s;
    display: inline;
  }
  p:hover {
    color: $light-green;
    cursor: pointer;
  }
}
#synopsis {
  font-size: 18px;
  color: $grey;
}
#starring {
  margin-bottom: 0px;
}
#starringUL {
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
}
.starringLI {
  display: inline-block;
  height: auto;
  margin: 10px;
  vertical-align: top;
  img {
    width: 140px;
    height: 208px;
    border-radius: 5px;
    border:2px solid $white;
    transition: ease all 0.6s;
  }
  img:hover {
    border-color: $light-blue;
    cursor: pointer;
  }
}
figcaption {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  width: 140px;
}
#trailerButton {
  background-color: $light-blue;
  color: $white;
  border: 0px;
  width: 220px;
  border-radius: 5px;
  margin-left: 32%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 10px;
  transition: all ease 0.6s;
}
#trailerButton:hover {
  cursor: pointer;
  background-color: $darker-blue;
}
#similarUL {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.similarLI {
  float: left;
  display: inline;
  height: auto;
  margin: 15px;
  img {
    width: 200px;
    height: 298px;
    border-radius: 5px;
    border: 2px solid $white;
    transition: all ease 0.6s;
  }
  img:hover {
    border: 2px solid $light-blue;
    cursor: pointer;
  }
}

//Search View
#searchResults {
  padding-left: 38px;
  margin-bottom: 0px;
  margin-top: 10px;
}
#searchListOne {
  @include outer-container;
  list-style-type: none;
  margin-top: 0px;
}
#listItem {
  @include span-columns(3);
  @include omega(4n);
  margin: 0px;
  margin-top: 10px;
}
#searchListTwo {
  list-style-type: none;
  padding: 0;
  h3, h4 {
    text-align:left;
  }
}
#searchTopTitle {
  margin-bottom: 0px;
}
#releaseDate {
  margin-top: 0px;
  font-family: 'Ubuntu', sans-serif;
}
#searchPoster {
  width: 150px;
  height: 249px;
  overflow: hidden;
  @include span-columns(2 of 3);
  border-radius: 5px;
  border: 2px solid $white;
  margin-right: 15px;
  transition: all ease 0.6s;
}
#searchPoster:hover {
  cursor: pointer;
  border: 2px solid $light-blue;
}
#searchRight {
  @include span-columns(1 of 3);
}

// Cast View
#castMain {
  @include outer-container;
}
#castUL {
  @include span-columns(9);
  margin-right: 0px;
}
#castBio {
  @include span-columns(3);
  h1 {
    margin-top: 1px;
    margin-bottom: 2px;
  }
  p {
    margin-top: 1px;
  }
}
#bioPic {
  width:230px;
  height: auto;
  margin-top: 25px;
  border-radius: 5px;
  border: 2px solid $grey;
}
