@import "bourbon/bourbon";
@import "neat/neat";

$light-green: #8CC34A;
$blue-grey: #323F4C;

body {
  padding: 0;
  margin: 0;
  background-color: $blue-grey;
  color: white;
}
h1 {
  font-family: AvenirNext-Bold;
}
h2 {
  font-family: AvenirNext-Bold;
}
h3 {
  font-family: AvenirNext-Bold;
}
p {
  font-family: AvenirNext-Regular;
}
header {
  background-image: -webkit-linear-gradient(#B4EC51 0%, #429321 100%);
}
#toplist {
  font-family: AvenirNext-Bold;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
#logo {
  display: inline;
  float: left;
  font-size: 50px;
  color: #FFFFFF;
  margin-left: 20px;
}
.navbar {
  float: left;
  font-size: 20px;
}
.toplink {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}
#buzz{
  margin-top: 20px;
  font-size: 24px;
}
form {
  margin-top: 17px;
  font-family: AvenirNext-Bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-right: 42px;
  float: right;
}
input {
  background: #32373B;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
  font-size: 18px;
  font-family: AvenirNext-Bold;
  padding: 4px;
  padding-left: 10px;
  color: white;
  margin-left: 10px;
}
#guardians {
  width: 1230px;
  height: auto;
  margin-left: 25px;
  margin-top: 25px;
  border: 0px;
  border-radius: 5px;
  border: 2px solid white;
}
//Main View
#nowPlaying {
  margin-left: 42px;
  font-family: AvenirNext-Bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0px;
}
#mainPlaying {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 60px;
  margin-top: 0px;
}
.nowPlayingList {
  float: left;
  display: inline-block;
  height: auto;
  padding: 15px;
  img {
    width: 200px;
    border-radius: 5px;
    border: 2px solid white;
  }
  img:hover {
    border: 2px solid $light-green;
    cursor: pointer;
  }
}
#bottomMain{
  @include outer-container;
}
#bottomLeft{
  @include span-columns(6);
}
#bottomRight {
  @include span-columns(6);
}
//Film View stuff
#filmBig {
  @include outer-container;
}
#filmLeft{
  @include span-columns(4);
}
#filmRight {
  @include span-columns(7);
  margin-left: 20px;
}
#bigPoster {
  width: 340px;
  height: auto;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 60px;
}
//Search View
#searchPoster {
  width: 250px;
  height: auto;
  display: block;
  overflow: hidden;
}
#searchRight {
  display: flex;;
}
