// Home.scss
.home-page {
  min-height: 100vh;
  background-color: #14181C;

  .home-content {
    padding-top: 2rem;

    @media (max-width: 768px) {
      padding-top: 1rem;
    }
  }
}

.divider {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2rem;
}