.navbar {
  z-index: 10;

  .navbar-brand {
    color: var(--main-yellow);
    font-weight: 900;

    @media(min-width:768px) {
      display: none;
    }

    @media(max-width:767px) {
      margin-left: 6px;
    }
  }

  @media (max-width: 767px) {
    display: contents !important;

    .container {
      background: #1e1e1e;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
      position: relative;
      z-index: 1;

      .navbar-toggler {
        margin: 10px 0;
        background: #898989;
      }

      h1 {
        margin-bottom: 0;
      }

      ul {
        margin-bottom: 20px !important;

        li {
          display: flex;
          justify-content: flex-end;

          @media(max-width: 767px) {
            &.home {
              display: none;
            }
          }
        }
      }
    }
  }

  .navlinks {
    display: block;
    padding: 0.5rem 0;
    font-size: 1em;
    color: var(--main-white);
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border-bottom: 0.125rem solid transparent;

    @media (max-width: 767px) {
      width: fit-content;
    }

    &:hover {
      color: var(--main-yellow);
    }

    &.active {
      font-weight: 700;
      color: var(--main-yellow);
      border-bottom-color: var(--main-yellow);
    }
  }

  .search-holder {
    display: flex;

    @media(max-width: 767px) {
      align-items: center;
      margin-bottom: 20px;

      input {
        height: 40px;
      }
    }
  }

  .search-btn {
    padding: 5px 25px;
    background: transparent;
    transition: 0.5s ease;
    color: var(--main-white);
    border: 2px solid var(--main-yellow);

    &:hover {
      background: var(--main-yellow);
    }
  }
}