<!DOCTYPE html>
<div id="filmBig">
  <div id="filmLeft">
    <img ng-src="{{poster}}" id="bigPoster"/>
    <a href="{{trailer}}" target="_blank"><button id="trailerButton">Watch Trailer</button></a>
  </div>

  <div id="filmRight">
    <h1>{{movie.title}}</h1>
    <h2>{{yearResponse}}</h2>
    <h2>{{movie.director}}Directed By:</h2>
    <p>{{movie.overview}}</p>
    <h3>{{movie.starring}}</h3>
    <h3 id="filmRuntime">Runtime: {{movie.runtime}} mins</h3>
    <h3>Starring: {{actor1}}, {{actor2}}, {{actor3}}</h3>
  </div>
</div>
<h3 class="titles">Similar Titles</h3>
<ul id="similarUL">
  <li class="similarLI"><img ng-click="getMovie(similar1)" ng-src="{{similar1}}" /></li>
  <li class="similarLI"><img ng-click="getMovie(similarLI)" ng-src="{{similar2}}" /></li>
  <li class="similarLI"><img ng-click="getMovie(similarLI)" ng-src="{{similar3}}" /></li>
  <li class="similarLI"><img ng-click="getMovie(similarLI)" ng-src="{{similar4}}" /></li>
  <li class="similarLI"><img ng-click="getMovie(similarLI)" ng-src="{{similar5}}" /></li>
</ul>
