<!DOCTYPE html>
<!-- <div class="image">
  <img src="assets/2.jpg" id="guardians" />
  <h2 id="popcorn"><span id="fog">Grab the popcorn. This is Bijou.</span></h2>
</div> -->
<h2 class="titles" id="tippyTop">Now Playing</h2>
<div class="row">
  <ul class="mainUL">
    <li class="mainLI" ng-click="getMovie(movie)" ng-repeat="movie in nowPlaying | limitTo: 10"><a class="nowPlayingLink"><img ng-src="{{movie.fullPoster}}" sr-fallback="assets/nope.png"/></a></li>
  </ul>
</div>
<h2 class="titles">Upcoming Releases</h2>
<div class="row">
  <ul class="mainUL">
    <li class="mainLI" ng-click="getMovie(movie)" ng-repeat="movie in upcoming | limitTo: 10"><a class="nowPlayingLink"><img ng-src="{{movie.fullPoster}}" sr-fallback="assets/nope.png" /></a></li>
  </ul>
</div>
<h2 class="titles">Staff Picks</h2>
<div class="row">
  <ul class="mainUL">
    <li class="mainLI" ng-click="getMovie(pick)" ng-repeat="pick in picks | limitTo: 10"><a class="nowPlayingLink"><img ng-src="http://image.tmdb.org/t/p/w300/{{pick.poster_path}}" sr-fallback="assets/nope.png" /></a></li>
  </ul>
</div>
