<!DOCTYPE html>
<img src="assets/2.jpg" id="guardians" />
<h3 id="nowPlaying">Now Playing</h3>
<div id="one">
  <ul id="mainPlaying">
    <li class="nowPlayingList" ng-click="getMovie(movie)" ng-repeat="movie in nowPlaying | limitTo: 5"><a class="nowPlayingLink"><img ng-src="{{movie.fullPoster}}" /></a></li>
  </ul>
</div>
<div id="bottomMain">
  <div id="bottomLeft">
    <h3>Top Reviews</h3>
    <ul>
      <li>Review 1</li>
      <li>Review 2</li>
    </ul>
  </div>
  <div id="bottomRight">
    <h3>Upcoming Releases</h3>
  </div>
</div>
