<!DOCTYPE html>
<div class="image">
  <img src="assets/2.jpg" id="guardians" />
  <h2 id="popcorn"><span id="fog">Grab the popcorn. This is Bijou.</span></h2>
</div>
<h2 class="titles">Now Playing</h2>
<div class="row">
  <ul class="mainUL">
    <li class="mainLI" ng-click="getMovie(movie)" ng-repeat="movie in nowPlaying | limitTo: 5"><a class="nowPlayingLink"><img ng-src="{{movie.fullPoster}}" /></a></li>
  </ul>
</div>
<h2 class="titles">Upcoming Releases</h2>
<div class="row">
  <ul class="mainUL">
    <li class="mainLI" ng-click="getMovie(movie)" ng-repeat="movie in upcoming | limitTo: 5"><a class="nowPlayingLink"><img ng-src="{{movie.fullPoster}}" /></a></li>
  </ul>
</div>
<h2 class="titles">Staff Picks</h2>
<div class="row">
  <ul class="mainUL">
    <li class="mainLI" ng-click="getMovie(pick)" ng-repeat="pick in picks | limitTo: 6"><a class="nowPlayingLink"><img ng-src="http://image.tmdb.org/t/p/w300/{{pick.poster_path}}" /></a></li>
  </ul>
</div>
<h2 class="titles">Classic Sci-Fi</h2>
<div class="row">
  <ul class="mainUL">
    <li class="mainLI" ng-click="getMovie(pick)" ng-repeat="pick in scifi | limitTo: 5"><a class="nowPlayingLink"><img ng-src="http://image.tmdb.org/t/p/w300/{{pick.poster_path}}" /></a></li>
  </ul>
</div>
<div id="bottomMain">
  <div id="bottomRight">
  </div>
</div>
